.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(background.jpg);
    height: 500px;
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(background-2.jpg);
    height: 500px;
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url(background-3.jpg);
    height: 500px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .footer-page  i {
    color: white;
    background-color: royalblue;
  }